<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F57CAB6D1D93FDF30054C9EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57CAB811D93FDF30054C9EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57CAB8C1D93FDF40054C9EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
